<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center">Create Your Profile</h1>
    <p class="text-center">ArtParty is about connecting people who need something awesome
      with creatives they can trust. Fill out your profile to get started!</p>
    <div class="well">
      <%= render 'form' %>
    </div>
  </div>
</div>
